
@font-face {
    font-family: littleBird;
    src: url("../fonts/LittleBird.ttf");
}
@font-face {
    font-family: clearLine;
    src: url("../fonts/ClearLine.ttf");
}
@font-face {
    font-family: maritime;
    src: url("../fonts/MaritimeTropicalNeue.ttf");
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 18pt maritime;
    color: #fee2a5;
}

a:focus {
    outline: none;
}

label {
    font-weight: normal;
    margin-bottom: 5px;
}

.form-inline > label {
    margin-bottom: 0;
}

input[type=file] {
    padding-bottom: 39px;
    font-size: 14pt;
}

.title {
    font-family: littleBird;
    font-size: 50pt;
}

h1 {
    text-align: center;
    font-family: clearLine;
    font-size: 3em;
}

h2 {
    font-family: maritime;
    font-weight: bold;
    font-size: 1.5em;
}

.lettrine {
    font-family: clearLine;
    font-size: 30pt;
}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
    outline: none;
}

.navbar-default .navbar-nav>li>a {
    font-family: clearLine;
    font-size: 27pt;
    color: #fee2a5;
}

.navbar-default {
    background-color: #3c1d10;
    border-color: #fee2a5;
}

.navbar-default .navbar-brand {
    color: #fee2a5;
    font-family: littleBird;
    font-size: 160%;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
    color: #ff4e00;
}

.navbar li:hover {
    background-color: #ff4e00;
}

.navbar li:active {
    background-color: #cc3d00;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    color: #fee2a5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #cc3d00;
    background-color: #fee2a5;
}

.popover {
    background-color: rgba(10,10,10,.5);
}

.popover > .arrow, .popover > .arrow::after {
    border-style: none;
}

.dropdown-menu li.divider {
    padding: 0 !important;
    border: none !important;
}